.header{
    color: coral;
    text-align: center;
    font-family: Verdana;
    font-size: 300%;
}
.mainBody a{
    text-decoration: none;
    color:red;
}
.bigButton{
    width:1000px;
    height:500px;
    margin:auto;
    background-color: lightskyblue;
    border-radius: 100px;
    font-size:1000%;
    text-align:center;
    font-family: Chalkboard;
    line-height: 165px;
}
a{
    color: dodgerblue;;
    text-decoration: none;
}
.end{
    height:100px;
}
body{
    background-color: #cccccc;
}